form {
  width: 35%;
  margin: auto;
  padding: 20px;
}
label {
  margin-top: 10px;
  margin-bottom: 10px;
}
label, input {
  width: 100%;
  color: rgb(6, 30, 72);
}
input[type="submit"] {
  width: 100px;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-align: center;
  color: rgb(6, 30, 72);
}
input:focus{
  color: rgb(6, 30, 72);
  box-shadow: 0px 0px 5px 2px #aaa;
  outline: none;
}
input::placeholder {
  color: #555;
}
input[type="submit"] {
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgb(6, 30, 72);
}
input[type="submit"]:hover {
  cursor: pointer;
}
h1 {
  width: 100%;
}
.card {
  height: 400px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px #aaa;
}
.card__title {
  font-size: 1.5rem;
  margin: auto;
}
.flashed_message {
  text-align: center;
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px;
  margin-top: 30px;
}
