/**
 * content */
main {
  width: 100%;
}

/** 
 * content__title */
.content__title {
  flex: 0 0 10%;
  margin: 10px auto;
}

/** 
 * content__block */
.content__block {
  flex: 1 1;
  width: 100%;
  padding: 30px 12%;
  margin: 20px auto;
  align-items: baseline;
  /* gap: 10%; */
}

.current {
  flex: 1 1 70%;
}
.unevaluated {
  flex: 1 1 70%;
  align-self: flex-start;
}

/* card */
.card {
  display: flex;
  flex-flow: column;
  box-shadow: 0px 0px 5px 0px #999;
  border-radius: 5px;
  min-height: 50vh;
  /* background-color: #E2DCC8; */
}

.card__title { 
  text-align: center;
  padding: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 15px;
}
.card__item {
  padding: 5px 20px;
  width: 100%;
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  gap: 2%;
}
.course {
  flex: 1 0 60%;
}
.lecturer {
  flex: 1 0 20%;
}
span.evaluate {
  flex: 1 0 10%;
}
a.evaluate {
  flex: 1 0 10%;
  text-decoration: none;
  border: 1px solid #333;
  padding: 10px;
}
a.evaluate:visited {color: #ccc;}

.unevaluated {
  margin: auto;
  flex: 0 0 500px;
  /* width: 500px; */
}
.current {
  flex: 0 0 350px;
  margin: auto;
  /* width: 500px; */
}

.btn-filled {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #E2DCC8;
  background-color: #0F3D3E;
}

@media (max-width: 1230px) {
  .current {
    margin-top: 20px;
    flex: 0 0 500px;
  }
}