<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <ul>
      <li><a href="/home">site</a></li>
      <li><a href="/">Add Program</a></li>
      <li><a href="/home">Add Course</a></li>
      <li><a href="/admin/evaluation-creation-form">Add Evaluation</a></li>
      <li><a href="">site</a></li>
      <li><a href="/">site</a></li>
      <li><a href="/home"></a></li>
      <li><a href="/home">site</a></li>
      <li><a href="/home">site</a></li>
      <li><a href="/home">site</a></li>
    </ul>
    
    <section class="proram-form-container">
      <h2>Create Statement not criterialized Section</h2>
      <form action="/admin/courses" method="POST" class="general-statement">
	<label>Statement:</label>
	<input name="text">
        <input type="submit" value="Create">
      </form>
    </section>

  </body>
</html>
