<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/common.css?{{id}}"> 
    <link rel="stylesheet" type="text/css" href="/static/styles/footer.css?{{id}}">
    <script src="/static/js/jquery.js?{{id}}"></script>
    <script src="/static/js/base.js?{{id}}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <section class='footer'>
      <footer><span></span></footer>
    </section>
  </body>
</html>
