<a class="back" href="/admin/programs">Back</a>

<ul class="data">
  <h2 class="data__header">{{ program.name }}</h2>
  <li class="data__item">
    <span class="data__item__link">course</span> 
    <span class="data__item__level">Level</span> 
    <span class="data__item__semester">semester</span>
    <span class="data__item__delete"></span>
  </li>
  {% for course in courses %}
  <li class="data__item">
    <a class="data__item__link" href="/admin/programs/{{ course[0].id }}">
      {{ course[0].name }}
    </a>
    <span class="data__item__level">{{ course[1].level }}</span>
    <span class="data__item__semester">{{ course[2].semester }}</span>
    <a class="delete data__item__delete" href="/admin/programs/{{program.id}}/courses/{{ course[0].id}}" >
      Delete from Program
    </a>
  </li>
  {% endfor %}
</ul>
