<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/styles/base.css">
    <script src="/static/js/jquery.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="flex-column color-default bg-1">
    <header class="header flex-column bg-2">
      <nav class="header__nav content-center-vertical-row content-align-right-row color-2 bg-3">
        <span class="welcome font-size-below-normal">
          <span class="welcome__text ">Welcome,</span> 
          <span class="">{{student.first_name}}</span>
        </span>
        <a href="/logout?token={{ token }}" class="logout font-size-small color-1 bg-3">
          logout
        </a>
      </nav>

      <h1 class="header__title font-size-heading-4">
        {% block title %}
	  
        {% endblock %}
      </h1>
      <!-- <span class="underline underline-big"></span> -->
      <span class="underline underline-small"></span>
    </header>

    <!--                           content                           -->

    <section class="content">
    {% block content %}
    {% endblock %}
    </section>
    <footer class="footer text-center content-center bg-3"><span class="footer__text color-1">Copyright&copy;</span><footer>
  </body>
</html>
